#app {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.area {
  background-color: antiquewhite;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
}

.line {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.seat {
  width: 20px;
  height: 20px;
  background-color: brown;
}

.seat:hover {
  opacity: 0.6;
  cursor: pointer;
}

body {
  font-size: 9px;
  color: #eee;
}