#app {
  display: flex;
  flex-wrap: wrap;
}

.area {
  background-color: antiquewhite;
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
}

.line {
  display: flex;
  padding: 5px;
  gap: 5px;
}

.seat {
  width: 20px;
  height: 20px;
  background-color: brown;
}